:root{
    --text-font-family:'Roboto', sans-serif;
    --text-font-webstudio:'Raleway', sans-serif;
    --text-color:  #434455 ;
    --white-color:  #FFFFFFFF ;
    --web-logo-color:  #4d5ae5;
    --studio-logo-color: #2e2f42 ;
    

}

body {
    font-family: var(--text-font-family);
    background-color: var(--white-color);
    color: var(--text-color);
    
    
}

.studio-style{
    color: var(--studio-logo-color);

}

.logo-style{
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: var(--text-font-webstudio);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    
}

.link{
    text-decoration: none;
}

.list{
    text-decoration: none;
}