:root{
    --text-font-family:'Roboto', sans-serif;
    --text-font-webstudio:'Raleway', sans-serif;
    --text-color-site: #434455;
    --web-logo-color:  #4d5ae5;
}

body{
    font-family: var(--text-font-family);
    color: var(--text-color-site);
}


.studio-style{
    color: var(--studio-logo-color);

}

.logo-style{
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: var(--text-font-webstudio);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    
}

.link{
    text-decoration: none;
}

.header-nav:hover,  
.header-nav:focus{
    color: #404bbf;
}
