:root{
    --text-font-family:'Roboto', sans-serif;
    --text-font-webstudio:'Raleway', sans-serif;
    --text-color-site: #434455;
    --web-logo-color:  #4d5ae5;
    --subtitle-color:#2e2f42
}

body{
    font-family: var(--text-font-family);
    color: var(--text-color-site);
}

.style-logo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--web-logo-color);

}
.link{
    text-decoration: none;
}
.style-studio{
    color: var(--subtitle-color);
}

.list{list-style: none;

}